<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/books.css">
    <title>Book Offerings - Book & Sip Studio</title>
</head>
<body>
    <header>
        <h1>Welcome to Book & Sip Studio</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                <a href="#" id="coffeeOffers">Coffee</a>
                <div class="dropdown" id="coffeeDropdown">
                <ul>
                <li><a href="coffee_listings.html">Coffee Listings</a></li>
                <li><a href="coffee_beans.html">Coffee Beans</a></li>
                <li><a href="brewing_equipment.html">Brewing Equipment</a></li>
                </ul>
                </div>
                </li>
                <li><a href="books.html">Books</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="about.html">About</a></li>

                <li>
                    <button id="loginButton" onclick="redirectToLogin()">Login</button>
                </li>
                
                <li><button id="logoutButton" onclick="logout()">Log Out</button></li>
            </ul>
        </nav>
    </header>
    <br>
    <main>
        <section id="introduction">
            <h2>About Our Books</h2><br>
            <p>At Book & Sip Studio, we offer a wide selection of books across various genres, from fiction to non-fiction. Whether you're looking for a bestseller or a hidden gem, we have something for every reader!</p>
        </section>

        <div class="content-container">
            <section id="book-list">
                <h2 class="centered">Available Books</h2>
                <ul>
                    <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/book1.jpg" alt="Harry Potter and the Order of the Phoenix" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>Harry Potter and the Order of the Phoenix</h3>
                            <p><strong>Author:</strong> J.K. Rowling, Mary GrandPré</p>
                            <p class="book-price">Price: $15.99</p>
                            <label for="quantity-hp">Quantity:</label>
                            <input type="number" id="quantity-hp" name="quantity-hp" value="1" min="1" max="10">
                            <button onclick="addItemToCart('Harry Potter and the Order of the Phoenix', 15.99, parseInt(document.getElementById('quantity-hp').value))">Add to Cart</button>
                            <button onclick="toggleDescription('book1')">View Details</button>
                            <div id="book1" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> Harry Potter is about to start his fifth year at Hogwarts School of Witchcraft and Wizardry. Unlike most schoolboys, Harry never enjoys his summer holidays, but this summer is even worse than usual.</p>
                                <p><strong>Genres:</strong> Fantasy, Young Adult, Fiction, Magic, Children's, Audiobook, Adventure</p>
                                <p><strong>Published Date:</strong> June 20, 2003</p>
                                <p><strong>Pages:</strong> 912 pages, Paperback</p>
                            </div>
                        </div>
                        </li>
                        <!-- The Book Thief -->
                        <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/book2.jpg" alt="The Book Thief" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>The Book Thief</h3>
                            <p><strong>Author:</strong> Markus Zusak</p>
                            <p class="book-price">Price: $10.99</p>
                            <label for="quantity-bt">Quantity:</label>
                            <input type="number" id="quantity-bt" name="quantity-bt" value="1" min="1" max="10">
                            <button onclick="addItemToCart('The Book Thiefe', 10.99, parseInt(document.getElementById('quantity-bt').value))">Add to Cart</button>
                            <button onclick="toggleDescription('book2')">View Details</button>
                            <div id="book2" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> It is 1939. Nazi Germany. The country is holding its breath. Death has never been busier, and will be busier still.</p>
                                <p><strong>Genres:</strong> Historical Fiction, Fiction, Young Adult, Classics, Historical, War, World War II</p>
                                <p><strong>Published Date:</strong> August 31, 2005</p>
                                <p><strong>Pages:</strong> 592 pages, Kindle Edition</p>
                            </div>
                        </div>
                        </li>
                        <!-- Twilight -->
                        <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/book3.jpg" alt="Twilight" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>Twilight</h3>
                            <p><strong>Author:</strong> Stephenie Meyer</p>
                            <p class="book-price">Price: $30.41</p>
                            <label for="quantity-tw">Quantity:</label>
                            <input type="number" id="quantity-tw" name="quantity-tw" value="1" min="1" max="10">
                            <button onclick="addItemToCart('Twilight', 30.41, parseInt(document.getElementById('quantity-tw').value))">Add to Cart</button>
                            <button onclick="toggleDescription('book3')">View Details</button>
                            <div id="book3" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> About three things I was absolutely positive. First, Edward was a vampire. Second, there was a part of him - and I didn't know how dominant that part might be - that thirsted for my blood.</p>
                                <p><strong>Genres:</strong> Fantasy, Young Adult, Romance, Fiction, Vampires, Paranormal</p>
                                <p><strong>Published Date:</strong> October 4, 2005</p>
                                <p><strong>Pages:</strong> 498 pages, Paperback</p>
                            </div>
                        </div>
                        </li>
                        <!-- Go Woke, Go Broke -->
                        <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/book4.jpg" alt="Go Woke, Go Broke" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>Go Woke, Go Broke</h3>
                            <p><strong>Author:</strong> Charles Gasparino</p>
                            <p class="book-price">Price: $14.99</p>
                            <label for="quantity-gw">Quantity:</label>
                            <input type="number" id="quantity-gw" name="quantity-gw" value="1" min="1" max="10">
                            <button onclick="addItemToCart('Go Woke, Go Broke', 14.99, parseInt(document.getElementById('quantity-gw').value))">Add to Cart</button>
                            <button onclick="toggleDescription('book4')">View Details</button>
                            <div id="book4" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> A riveting and smashmouth journalistic deep-dive into the progressive madness that has infected and corrupted the world’s biggest corporations.</p>
                                <p><strong>Genres:</strong> Nonfiction, Business</p>
                                <p><strong>Published Date:</strong> August 5, 2024</p>
                                <p><strong>Pages:</strong> 320 pages, Hardcover</p>
                            </div>
                        </div>                   
                    </li>
                </ul>
            </section>

            <section id="ebook-list">
                <h2 class="centered">E-Books</h2>
                <ul>
                    <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/ebook1.jpg" alt="Digital Fortress" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>Digital Fortress</h3>
                            <p><strong>Author:</strong> Dan Brown</p>
                            <p class="book-price">Price: $9.99</p>
                            <button onclick="addToCart('Digital Fortress')">Add to Cart</button>
                            <button onclick="toggleDescription('ebook1')">View Details</button>
                            <div id="ebook1" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> A thrilling tale of a code that could cripple the NSA.</p>
                                <p><strong>Genres:</strong> Fiction, Thriller</p>
                                <p><strong>Published Date:</strong> April 6, 1998</p>
                                <p><strong>Pages:</strong> 368 pages, E-Book</p>
                            </div>
                        </div>
                    </li>
                    <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/ebook2.jpg" alt="1984" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>1984</h3>
                            <p><strong>Author:</strong> George Orwell</p>
                            <p class="book-price">Price: $8.99</p>
                            <button onclick="addToCart('1984')">Add to Cart</button>
                            <button onclick="toggleDescription('ebook2')">View Details</button>
                            <div id="ebook2" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> A dystopian novel that delves into the dangers of totalitarianism.</p>
                                <p><strong>Genres:</strong> Fiction, Dystopian</p>
                                <p><strong>Published Date:</strong> June 8, 1949</p>
                                <p><strong>Pages:</strong> 328 pages, E-Book</p>
                            </div>
                        </div>
                    </li>
                    <li class="book-item">
                        <div class="book-image-container">
                            <img src="../public/images/ebook3.jpg" alt="The Alchemist" class="book-image">
                        </div>
                        <div class="book-info">
                            <h3>The Alchemist</h3>
                            <p><strong>Author:</strong> Paulo Coelho</p>
                            <p class="book-price">Price: $10.99</p>
                            <button onclick="addToCart('The Alchemist')">Add to Cart</button>
                            <button onclick="toggleDescription('ebook3')">View Details</button>
                            <div id="ebook3" class="book-description" style="display:none;">
                                <p><strong>Description:</strong> A journey of self-discovery and following one's dreams.</p>
                                <p><strong>Genres:</strong> Fiction, Adventure</p>
                                <p><strong>Published Date:</strong> 1988</p>
                                <p><strong>Pages:</strong> 208 pages, E-Book</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>            
        </div>
    </main>
    <div id="cart-message" style="display:none;"></div>
    <footer>
        <p>&copy; 2024 Book & Sip Studio</p>
    </footer>
    <script src="..public/cart.js" defer></script>
    <script src="../public/script.js" defer></script>
    
</body>
</html>