<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <title>Shopping Cart</title>
</head>
<body>
    <header>
        <h1>Welcome to Book & Sip Studio</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                <a href="#" id="coffeeOffers">Coffee</a>
                <div class="dropdown" id="coffeeDropdown">
                <ul>
                <li><a href="coffee_listings.html">Coffee Listings</a></li>
                <li><a href="coffee_beans.html">Coffee Beans</a></li>
                <li><a href="brewing_equipment.html">Brewing Equipment</a></li>
                </ul>
                </div>
                </li>
                <li><a href="books.html">Books</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="about.html">About</a></li>

                <li>
                    <button id="loginButton" onclick="redirectToLogin()">Login</button>
                </li>
                
                <li><button id="logoutButton" onclick="logout()">Log Out</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="cart-section">
            <table id="cart-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="cart-items">
                    <!-- Cart items will be displayed here -->
                </tbody>
            </table>
            <p id="cart-empty-message">Your cart is empty.</p>

            <div id="total-amount">Total: $0.00</div>

            <button id="checkout-button">Proceed to Checkout</button>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Book & Sip Studio</p>
    </footer>

    <script src="../public/cart.js" defer></script>
    <script src="../public/script.js" defer></script>
</body>
</html>
